/week01/nbproject/private/
/week01/build/
/week02/nbproject/private/
/week02/build/
/week03/nbproject/private/
/week03/build/
/week04/nbproject/private/
/week04/build/
/week05/nbproject/private/
/week05/build/
/try_week3/nbproject/private/
/try_week3/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/week07/nbproject/private/
/week07/build/
/week07/dist/
/pre-midterm/nbproject/private/
/pre-midterm/build/
/test/nbproject/private/
/week08/nbproject/private/
/week08/build/
/week05/dist/
/week09/nbproject/private/
/week09/build/
/week10/nbproject/private/
/week10/build/
