/week01/nbproject/private/
/week01/build/
/week02/nbproject/private/
/week02/build/
/week03/nbproject/private/
/week03/build/
/week04/nbproject/private/
/week04/build/
/week05/nbproject/private/
/week05/build/
